@model DepartmentViewModel
<div class="my-3">
    <label asp-for="Code"></label>
    <input placeholder="Department Code" class="form-control" asp-for="Code" />
</div>
<div class="my-3">
    <label asp-for="Name"></label>
    <input placeholder="Department Name" class="form-control" asp-for="Name" />
</div>
<div class="my-3">
    <label asp-for="DateOfCreation"></label>
    <input placeholder="Created At" class="form-control" asp-for="DateOfCreation" />
</div>