@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Edit">
    <h6>Edit Role @Model.Name</h6>
    <partial name="PartialViews/CreateEditPartialView"></partial>
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="my-2">
        <a asp-action="AddOrRemoveUsers" class="btn btnStyl btn-outline-info" asp-route-roleId = "@Model.Id">Add or Remove Users</a>
    </div>
    <input type="submit" value="Save" class="btn btnStyl btn-outline-warning" />
    <a asp-action="Index" class="btn btnStyl btn-outline-dark">Back To List</a>
</form>

