@model UserViewModel


<div class="my-3">
    <label asp-for="UserName"></label>
    <input class="form-control" readonly asp-for="UserName" />
</div>
<div class="my-3">
    <label asp-for="FirstName"></label>
    <input class="form-control" asp-for="FirstName" />
</div>
<div class="my-3">
    <label asp-for="LastName"></label>
    <input class="form-control" asp-for="LastName" />
</div>
<div class="my-3">
    <label asp-for="Email"></label>
    <input class="form-control"  readonly asp-for="Email" />
</div>
