@model RoleViewModel




<div class="my-3">@Html.DisplayNameFor(D => D.Id) : @Html.DisplayFor(d => d.Id)</div>
<div class="my-3">@Html.DisplayNameFor(D => D.Name) : @Html.DisplayFor(d => d.Name)</div>


