
@{
    ViewData["Title"] = "CheckYourInBox";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}


<div class="main-agileinfo">
    <div class="agileits-top">
      <div class="text-center text-light my-3">
            Check Your InBox For Reset Password Message :)
      </div>
        <p><a asp-action="Login"> Return to Login</a></p>
    </div>
</div>



@section Validation {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}

