@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}


<div class="main-agileinfo">
    <div asp-validation-summary="All"></div>
    <div class="agileits-top">
        <form asp-action="ForgotPassword">

            <label asp-for="Email" class="text-light"></label>
            <input class="text email" asp-for="Email" placeholder="Email" />
           
            <input type="submit" value="Send Reset Password Message">
        </form>
        <p><a asp-action="Login"> Return to Login</a></p>
    </div>
</div>



@section Validation {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}



