@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/AuthLayout.cshtml";
}




<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-action="ResetPassword">
    <div asp-validation-summary="All"></div>
           
            <input asp-for="Token" hidden/>
            <input hidden asp-for="Email" />
            <label asp-for="Password" class="text-light"></label>
            <input class="text" asp-for="Password" placeholder="Password" />
            <label asp-for="ConfirmPassword" class="text-light"></label>
            <input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" />

            <input type="submit" value="Change Password">
        </form>
        <p><a asp-action="Login"> Sign In Now!</a></p>
    </div>
</div>



@section Validation {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}


